.found-panel{
  .found-name{
    font-size: 18px;
    font-weight: 600;
    span{
      font-weight: 300;
      font-size: 14px;

    }
  }
  .found-rate{
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    .rate-num{
      color: #b7121c;
      margin-left: 10px;
    }
  }
}
.found-info{
  padding: 15px 30px;
}