$gray-light-bg:#e5e5e5;
$gray-weight-font:#a4a4a4;
.panel-heading {
    border-bottom: none;
}
.service-box {
    .service-item {
        height: 125px;
        line-height: 125px;
        margin-top: 15px;
        text-align: center;
        cursor: pointer;
        .panel-body {
            position: relative;
            padding: 0;
            font-size: 16px;
            color: #fff;
            width: 100%;
            height: 100%;
            p {
                position: absolute;
                width: 100%;
                font-size: 18px;
            }
            .item-bg {
                background-image: url("../../dist/img/service-bg.png");
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                transition: all 0.3s;
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 10px;
            }
            &:hover {
                .item-bg {
                    -webkit-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    -o-transform: scale(1.1);
                    transform: scale(1.1);
                    box-shadow: 8px 10px 15px 1px rgba(110, 104, 171, 0.38);
                }
            }
        }
    }
    .active {
        .item-bg {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);
            box-shadow: 8px 10px 15px 1px rgba(110, 104, 171, 0.38);
        }
    }
}
.panel-detail {
    border-radius: 10px;
    .panel-body {
        padding-top: 0;
        padding-bottom: 30px;
    }
    p {
        text-indent: 2rem;
        margin: 0;
    }
}
.row-info {
    .panel-info-l {
        height: 401px;
        .panel-body {
            padding-top: 0;
            ul {
                li {
                    padding-left: 10px;
                    margin: 30px 0;
                    overflow: hidden;
                    position: relative;
                    .index-txt{
                        padding-right: 0;
                    }
                    &:before {
                        position: absolute;
                        left: 0;
                        top: 0;
                        content: "\2022";
                        font-size: 40px;
                        line-height: 20px;
                        color: #8fc5f6;
                    }
                }
            }
        }
    }
    .panel-info-r {
        #history{
                height: 350px;
                width: 100%;
            }
        .panel-body{
            padding-top: 0;
        }
        .panel-heading{
            overflow: hidden;
            padding-bottom: 0;
            .panel-head-l{
                line-height: 26px;
            }
            .panel-head-r{
                font-size: 14px;
                height: 26px;
                line-height: 26px;
                color: $gray-weight-font;
                .item-tab{
                    cursor: pointer;
                    padding: 0;
                    height: 26px;
                    line-height: 26px;
                    .item-tab-sub{
                        background: $gray-light-bg;
                        height: 26px;
                        line-height: 26px;
                        border-radius: 5px;
                        transition: .3s;
                        display: block;
                        text-align: center;
                        width: 95%;
                        margin: 0 auto;
                        padding: 0 3px;
                    }
                    &:hover .item-tab-sub{
                        color: #FFF;
                        background: #42bdda;
                    }
                }
                .active .item-tab-sub{
                        color: #FFF;
                        background: #42bdda;
                }
                
            }
        }
    }
}
.row-prog{
    .panel-heading{
        padding-bottom:0;
    }
    .panel-body{
        padding-top: 0;
        ul li{
            margin: 18px auto;
            .prog-txt{
                color: #005fa6;
                &:hover{
                    color: #a6000f;
                }
            }
            .progress-xs{
                margin: 6px auto;
            }
        }
    }

    .progress-xs{
        margin: 16px 0;
        background: #e5f5fd;
        height: 10px;
    }
    
}
